@font-face {
    font-family: newfont;
    src: url(./asimov-font/AsimovDistantItalic-2qBe.otf);
}

:root{
    --fondo_oscuro: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,209,252,1) 0%, rgba(3,37,10,1) 0%, rgba(15,33,41,1) 49%);
    --fondo_panel:#221418;
    --metodos:#f1a20b;
    --body_c:rgb(2, 1, 19);
    --claro:white;
    --oscuro:rgb(25, 21, 99);
}
#info{
    position: absolute;
    width: 50%;
    height: 50%;
    background:var(--metodos);
    text-align: center;
    display: none;
    color: var(--oscuro);
    top: 25%;
    left: 25%;
    text-align: center;
    overflow-y: scroll;
}
#info ul li{
    list-style: none;
    text-align: center;
}
body {
    margin: 0;
    background-color:var(--body_c);
    font-family: newfont;
    color: var(--body_c);
}
#panel{
    display: flex;
    background:var(--fondo_oscuro);  
    flex-wrap: wrap;
}
.tpanel{
    font-style: bold;
    color: var(--claro);
    flex-grow: 1;
    flex-basis: 10rem;
    padding: 1.1%;
    margin-left: 2%;
}
#botoninfo{
    background-color: var(--fondo_panel);
    color: var(--claro);
    flex-grow: 1;
    flex-basis: 10rem;
    cursor: pointer;
    text-align: center;
    border-radius:2%;
    position: relative;
    transition: 1s ease-in-out;
    overflow: hidden;
    border: none;
    height: 3rem;
    margin-top: 1.2%;
}
#botoninfo span{
    overflow: hidden;
    position: relative;
    z-index:2;
    font-size: 120%;
    font-style: oblique;
}
#botoninfo::after{
    top: 0%;
    content: "";
    left: 0;
    width: 2%;
    height: 4px;
    background-color:none;
    z-index: 1;
    position: absolute;
    transition: 1s ease-in-out;
}
#botoninfo:hover::after{
    color: var(--fondo_oscuro);
    background-color:var(--claro);
    scale: 200;
}
#botoninfo:hover{
    color: var(--fondo_oscuro);
}

.cajametodos{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
    border-radius: 1%;
    background-color:var(--fondo_panel);
    display: grid;
    gap: 1rem;
    grid-auto-rows: 20rem;
    grid-auto-flow: dense;
    grid-template-columns:repeat(auto-fill,minmax(20rem,1fr)) ;
    position: absolute;
    left: 2.4%;
    width: 95%;
    margin-top: 0.8%;
    overflow-y: scroll;
    height: 85%;
}
.metodo{
    position: relative;
    left: 4%;
    top: 5%;
    background-color:var(--metodos);
    grid-column: span 0.5;
    margin: 3%;
    width: 90%;
    transition: all 1s;
    transform: rotateY(50deg) rotateZ(-1deg);
    border-radius: 2%;
}
.metodo p{
    text-align: center;
    font-family: minecraft;
    font-size: 120%;
}
.metodo img{
    width: 80%;
    height: 50%;
    left: 10%;
    position: relative;
}
.metodo button{
    position: relative;
    width: 50%;
    height: 14%;
    left: 23%;
    top: 8%;
    cursor: pointer;
}
.metodo:hover{
    transition: all 0.5s;
    transform: rotateY(0deg);
}

.ejecucion{
    border-radius: 2%;
    margin:1%;
    margin-top: 2%;
    top: 1%;
    left: 10%;
    width: 80%;
    height: 90%;
    background-color: var(--metodos);
    position:fixed;
    display: none;
    overflow: scroll;
}
#botgen{
    position: relative;
    top: 5%;
    left: 20%;
    font-size: 80%;
}
.tablas tr td input{
    background-color: var(--oscuro);
    color: var(--claro);
    position: relative;
}
.tablas tr{
    background-color: var(--fondo_panel);
    color: var(--claro);
}
.tablas{
    display: none;
    color: var(--claro);
    position: relative;
    top: 10%;
    left: 10%;
    font-size: 66%;
}
.leer{
    position: relative;
    display: none;
    top: 12%;
    left: 10%;
    width: 30%;

}
#tablares{
    position: relative;
    display: none;
    left: 30%;
    top: 30%;
}
#tablares tr td{
    color:var(--claro);
    background-color: var(--oscuro);
}
#tablares tr th{
    color: var(--claro);
    background-color: var(--fondo_panel);
}

