@font-face {
    font-family: newfont;
    src: url(./asimov-font/AsimovDistantItalic-2qBe.otf);
}

:root{
    --fondo_oscuro: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,209,252,1) 0%, rgba(3,37,10,1) 0%, rgba(15,33,41,1) 49%);
    --fondo_panel:#221418;
    --metodos:#f1a20b;
    --body_c:rgb(2, 1, 19);
    --claro:white;
}
#info{
    display: none;
    color: var(--claro);
}
body {
    margin: 0;
    background-color:var(--body_c);
    font-family: newfont;
    color: var(--body_c);
}
#panel{
    padding: 1em;
    background:var(--fondo_oscuro);  
    margin: auto;
}
.tpanel{
    position: relative;
    left: 9%;
    font-style: bold;
    color: var(--claro);
    font-size: 150%;
    display: inline;
}
#botoninfo {
    left: 42%;
    position: relative;
    background-color: var(--fondo_panel);
    color: var(--claro);
    padding: 1.1%;
    display: inline;
}
.cajametodos{
    border-radius: 1%;
    background-color:var(--fondo_panel);
    display: grid;
    gap: 1rem;
    grid-auto-rows: 20rem;
    grid-auto-flow: dense;
    grid-template-columns:repeat(auto-fill,minmax(20rem,1fr)) ;
    position: absolute;
    width: 80%;
    margin-top: 0.8%;
    left: 10%;
    overflow-y: scroll;
    height: 85%;
}
.metodo{
    position: relative;
    left: 4%;
    top: 5%;
    background-color:var(--metodos);
    grid-column: span 0.5;
    margin: 3%;
    width: 90%;
    transition: all 1s;
    transform: rotateY(50deg) rotateZ(-1deg);
    border-radius: 2%;
}
.metodo p{
    text-align: center;
    font-family: minecraft;
    font-size: 120%;
}
.metodo img{
    width: 80%;
    height: 50%;
    left: 10%;
    position: relative;
}
.metodo button{
    position: relative;
    width: 50%;
    height: 14%;
    left: 23%;
    top: 8%;
}
.metodo:hover{
    transition: all 0.5s;
    transform: rotateY(0deg);
}

.ejecucion{
    border-radius: 2%;
    margin:1%;
    margin-top: 2%;
    top: 1%;
    left: 10%;
    width: 80%;
    height: 90%;
    background-color: var(--metodos);
    position:fixed;
    display: none;
}

